<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-dark">Add books</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Title</label>
  <input type="text" class="form-control" name="t" placeholder="enter the title">
</div>
<div class="mb-3">
  <label class="form-label">author</label>
  <input type="text" class="form-control"  name='a' placeholder="enter the author">
</div>
<div class="mb-3">
  <label class="form-label">page</label>
  <input type="text" class="form-control" name="p" placeholder="enter the page">
</div>
<div class="mb-3">
  <label class="form-label">price</label>
  <input type="number" class="form-control" name="pr" placeholder="enter the price">
</div>
<div class="mb-3">
  <label class="form-label">language</label>
  <input type="text" class="form-control" name="l" placeholder="enter the language">
</div>

    <div class="mb-3">
  <label class="form-label">Cover</label>
  <input type="file" class="form-control" name="i" >
</div>

    <div class="mb-3">
  <label class="form-label">Pdf</label>
  <input type="file" class="form-control" name="f" >
</div>
<div class="mb-3">
    <input type="submit" value="ADD">
</div>
</form>

{% endblock %}
